.toDoItem {
  display: flex;
  align-items: center;
  width: 80%;
  background-color: rgb(255, 255, 255);
  margin: 6px 4px;
  height: 40px;
  border-radius: 12px;
}

.toDoItem > p {
  flex: 1;
}

.toDoItem__done {
  text-decoration: line-through;
}
